/* Default */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

/* Pengatur Halaman */
#container {
    width: 1000px;
    font-size: 90%;
    margin: 0 auto;
}

/* Pengaturan header */
#header {
    padding: 10px;
    height: 75px;
    border: #0000ff dashed 1px;
    background-color: #99ccff;
}

#header h1 {
    display: block;
    width: 815px;
    height: 110px;
    padding: 10px;
    color: #003399;
    font-family: 'trebuchet ms', Arial, Helvetica, sans-serif;
}

/* Pengaturan side panel */
#sidebar {
    border: #0000ff dashed 1px;
    margin-top: 10px;
    width: 150px;
    float: left;
    background-color: #99ccff;
}

#sidebar h3 {
    color: #993300;
    padding-left: 10px;
    font-family: 'trebuchet ms', Arial, Helvetica, sans-serif;
}

/* Pengaturan menu navigasi */
#navmenu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    max-height: 100px;
}

#navmenu li {
    margin-bottom: 5px;
}

#navmenu a {
    display: block;
    width: auto;
    height: auto;
    background-color: #003366;
    padding: 5px 5px 3px;
    text-align: left;
    text-decoration: none;
    color: #eecc11;
    cursor: pointer;
}

#navmenu a:hover, #navmenu a:focus, #navmenu a:active {
    background-color: #333;
    color: #fff;
}

#navmenu a.selected, #navmenu a.selected:hover, #navmenu a.selected:focus, #navmenu a.selected:active {
    background-color: #386088;
    color: #fff;
}

#navmenu a.selected {
    text-align: right;
    cursor: default;
}

/* Pengaturan content */
#page {
    border: #0000ff dashed 1px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    width: 815px;
    align-self: flex-start;
}

#page h2 {
    color: #993300;
    font-family: 'trebuchet ms', Arial, Helvetica, sans-serif;
}

img {
    border: none;
}

#clear {
    clear: both;
}

/* Pengaturan footer */
#footer {
    border: #0000ff dashed 1px;
    margin-top: 10px;
    text-align: center;
    background-color: #99ccff;
}